* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}
body {
	font-family: "Nanum Gothic", sans-serif;
}
h1,
h3,
h4 {
	font-family: "Inter", sans-serif;
	font-family: "Nanum Gothic", sans-serif;
}
