#testimonial {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
    padding: 9% 0 0;
}
.wrapper {
	width: 80%;
	max-width: 1400px;
	margin: 0 auto;
}
.heading{
    text-align: center;
    margin-bottom: 80px;
}
.heading h1{
    font-size: 50px;
    text-transform: capitalize;
}

.slide-item {
	background: #d75430;
	padding: 20px;
	position: relative;
    margin-right: 20px;
}
.slide-item h1 {
	font-size: 23px;
	margin-bottom: 30px;
    color: #fff;
}
.slide-item p {
	font-size: 21px;
    color: #fff;
}
.slide-item span {
	font-size: 21px;
	top: 20px;
	right: 20px;
	position: absolute;
    width: 20px;
    margin-right: 20px;
}
.slide-item span img{
    width: 100%;
    display: inline-block;
}

.slick-active{
    margin-right: 30px;
}
.slick-dots{
    bottom: 50px;
}
.slick-dots li{
    margin-right: 15px;
}
.slick-dots li button::before{
    font-size: 35px;
    opacity: 1 !important;
    color: #333333;
}
.slick-dots li.slick-active button::before{
    color: #D75430;
}
@media all and (max-width : 980px){
    .heading h1{
        font-size: 40px;
    }
}
@media all and (max-width : 640px){
    .slick-dots li button::before{
        font-size: 25px;
    }
    .slick-dots{
        bottom: 150px;
    }
}
@media all and (max-width : 768px){
    #testimonial{
        height: 80vh;
    }
}
@media all and (max-width : 480px){
    .slide-item h1{
        font-size: 20px;
    }
    .slide-item p{
        font-size: 15px;
    }
    .slick-dots{
        bottom: 50px;
    }
    #heading{
        height: 10vh;
    }
}